body, html {
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    background: #808080;

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;

    /* Gap between columns */
    /* column-gap: 10px;  */
    /* Gap betwween rows */
    /* row-gap: 10px;  */
    /* Gap Both column and rows */
    grid-gap: 10px; 
}

.div1{
    grid-column: 1/2 ;
    grid-row: 1/2;
     background-color: rebeccapurple;
 }
 
 .div2{
     grid-column: 2/3;
     grid-row: 1/2;
     background-color: rosybrown;
 }
 
 .div3{
    grid-column: 1/2;
    grid-row: 2/3;
     background-color: salmon;
 }
 
 .div4{
    grid-column: 2/3;
    grid-row: 2/3;
     background-color: seagreen;
 }